html {
  scroll-behavior: smooth;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
::selection {
  background: #90cdf4;
  color: #fefefe;
}

::--moz-selection {
  background: #90cdf4;
  color: #fefefe;
}
